<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h3 class="media-heading">Welcome <%= current_user.email %>!</h3>
        <%= render 'items/form', item: Item.new %>
      </div>
    </div>
  </div>
</div>
