<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">Welcome <%= current_user.email %>!</h2>
      </div>
    </div>
  </div>
</div>

<h2>Lists</h2>
This is under construction, but will display a user's lists.
