<h1>Add a To Do</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Lists</p>
    <ul>
      <li>Create lists for anything!</li>
      <li>Go crazy!</li>
      <li>List anything! We mean anything!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@user, item] do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter to do" %>
      </div>
        <%= f.submit "Add To Do", class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
</div>
