<% @items.each do |item| %>
  <div class="media">
    <div class="media-body">
      <%= item.name %><br />
      <small>
        created <%= time_ago_in_words(item.created_at) %> ago
      </small>
    </div>
  </div>
<% end %>
