<%= content_tag :div, class: 'media' do %>
  <div class="media-body">
    <small>
      <%= @user.name %> created <%= time_ago_in_words(item.created_at) %> ago
    </small>
    <p><%= item.name %></p>
  </div>
<% end %>
